body{
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 21px;
    font-weight: 300;
    background-color: #252525;
}

ul{
    list-style: none;
}

ul li{
    display: block;
}

button{
    background-color: #99D930;
    color: #252525;
    text-decoration: none;
    padding: 10px 25px;
    display: inline-block;
    margin: 25px 10px;
}

button:hover,button:focus{
    color: #FFF;
    background-color: #252525;
}

nav{
    position: fixed; 
    right: 0;        
    z-index: 100;
}